# 2020年12月15日09:05:30
# This is free software, lisence use MIT.
# 
# Copyright (C) 2019 P3TERX <https://p3terx.com>
# Copyright (C) 2020 KFERMercer <KFER.Mercer@gmail.com>
# 
# <https://github.com/KFERMercer/OpenWrt-CI>
#

name: OpenWrt-CI

on:
  push:
    branches: 
      - master
  # schedule:
  #   - cron: 0 20 * * *
  release:
    types: [published]

jobs:

  build_openwrt:

    name: Build OpenWrt firmware

    runs-on: ubuntu-latest

    if: github.event.repository.owner.id == github.event.sender.id

    steps:

      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: master

      - name: Space cleanup
        env:
          DEBIAN_FRONTEND: noninteractive
        run: |
          docker rmi `docker images -q`
          sudo rm -rf /usr/share/dotnet /etc/mysql /etc/php /etc/apt/sources.list.d
          sudo -E apt-get -y purge azure-cli ghc* zulu* hhvm llvm* firefox google* dotnet* powershell openjdk* mysql* php* android*
          sudo -E apt-get update
          sudo -E apt-get -y install build-essential asciidoc binutils bzip2 gawk gettext git libncurses5-dev libz-dev patch python3 unzip zlib1g-dev lib32gcc1 libc6-dev-i386 subversion flex uglifyjs gcc-multilib g++-multilib p7zip p7zip-full msmtp libssl-dev texinfo libglib2.0-dev xmlto qemu-utils upx libelf-dev autoconf automake libtool autopoint device-tree-compiler antlr3 gperf swig
          sudo -E apt-get -y autoremove --purge
          sudo -E apt-get clean
          df -h
      - name: 添加插件
        run: |
          mkdir package/other
          #微信推送钉钉机器人版
          git clone https://github.com/zzsj0928/luci-app-pushbot ./package/other/luci-app-pushbot

          #主题
          rm -rf ./package/lean/luci-theme-argon
          git clone -b 18.06 https://github.com/jerrykuku/luci-theme-argon.git ./package/lean/luci-theme-argon

          # 采用lisaac的luci-app-dockerman
          rm -rf ./package/lean/luci-app-dockerman 
          rm -rf ./package/lean/luci-lib-docker
          svn co https://github.com/lisaac/luci-app-dockerman/trunk/applications/luci-app-dockerman ./package/lean/luci-app-dockerman
          git clone --depth=1 https://github.com/lisaac/luci-lib-docker ./package/lean/luci-lib-docker
          #  VSSR
          #rm -rf ./package/lean/luci-app-vssr
          #rm -rf ./package/lean/lua-maxminddb
          #git clone https://github.com/jerrykuku/luci-app-vssr.git ./package/lean/luci-app-vssr
          #git clone https://github.com/jerrykuku/lua-maxminddb.git ./package/lean/lua-maxminddb
          #添加 fw876/helloworld
          rm -rf ./package/lean/helloworld
          git clone https://github.com/fw876/helloworld.git ./package/lean/helloworld
          # add passwall dependence
          #git clone https://github.com/kenzok8/small ./package/other/small
          #svn co https://github.com/xiaorouji/openwrt-passwall/trunk/luci-app-passwall ./package/other/luci-app-passwall
          # add openclash
          svn co https://github.com/kenzok8/openwrt-packages/trunk/luci-app-openclash ./package/other/luci-app-openclash
          # add luci-app-advanced
          svn co https://github.com/kenzok8/openwrt-packages/trunk/luci-app-advanced ./package/other/luci-app-advanced
          # add luci-app-serverchan
          rm -rf ./package/lean/luci-app-serverchan
          svn co https://github.com/kenzok8/openwrt-packages/trunk/luci-app-serverchan ./package/lean/luci-app-serverchan
          # add luci-app-aliddns
          svn co https://github.com/kenzok8/openwrt-packages/trunk/luci-app-aliddns ./package/other/luci-app-aliddns
          # add luci-app-eqos
          svn co https://github.com/kenzok8/openwrt-packages/trunk/luci-app-eqos ./package/other/luci-app-eqos
          # add theme
          svn co https://github.com/kenzok8/openwrt-packages/trunk/luci-theme-atmaterial ./package/other/luci-theme-atmaterial
          svn co https://github.com/kenzok8/openwrt-packages/trunk/luci-theme-edge ./package/other/luci-theme-edge
          svn co https://github.com/kenzok8/openwrt-packages/trunk/luci-theme-ifit ./package/other/luci-theme-ifit
          svn co https://github.com/kenzok8/openwrt-packages/trunk/luci-theme-opentomato ./package/other/luci-theme-opentomato
          svn co https://github.com/kenzok8/openwrt-packages/trunk/luci-theme-opentomcat ./package/other/luci-theme-opentomcat
          svn co https://github.com/kenzok8/openwrt-packages/trunk/luci-theme-opentopd ./package/other/luci-theme-opentopd
          # add luci-app-jd-dailybonus
          git clone https://github.com/jerrykuku/luci-app-jd-dailybonus.git ./package/other/luci-app-jd-dailybonus
    
      - name: Update feeds
        run: |
          ./scripts/feeds update -a
          ./scripts/feeds install -a
          
      - name: 优化配置
        run: |
          # 优化配置
          #隐藏首页显示用户名
          sed -i 's/name="luci_username" value="<%=duser%>"/name="luci_username"/g' feeds/luci/modules/luci-base/luasrc/view/sysauth.htm
          #移动光标至第一格
          sed -i "s/'luci_password'/'luci_username'/g" feeds/luci/modules/luci-base/luasrc/view/sysauth.htm
          #修改固件生成名字,增加当天日期(by:左右）
          sed -i 's/IMG_PREFIX:=$(VERSION_DIST_SANITIZED)/IMG_PREFIX:=[$(shell date +%Y%m%d)]-$(VERSION_DIST_SANITIZED)/g' include/image.mk
          #修改X86默认固件大小
          if [[ `grep -o "default 160" config/Config-images.in | wc -l` == "1" ]]; then
          sed -i 's\default 160\default 300\g' config/Config-images.in
          else
          echo ""
          fi
          #修改x86首页
          echo "-----------------------"
          sed -i '$a \       ' feeds/luci/modules/luci-base/po/zh-cn/base.po
          sed -i '$a #天气预报' feeds/luci/modules/luci-base/po/zh-cn/base.po
          sed -i '$a msgid "Weather"' feeds/luci/modules/luci-base/po/zh-cn/base.po
          sed -i '$a msgstr "天气"' feeds/luci/modules/luci-base/po/zh-cn/base.po
          sed -i '$a \       ' feeds/luci/modules/luci-base/po/zh-cn/base.po
          sed -i '$a msgid "Local Weather"' feeds/luci/modules/luci-base/po/zh-cn/base.po
          sed -i '$a msgstr "本地天气"' feeds/luci/modules/luci-base/po/zh-cn/base.po
          sed -i '$a \       ' feeds/luci/modules/luci-base/po/zh-cn/base.po
          sed -i '$a #首页显示编译时间' feeds/luci/modules/luci-base/po/zh-cn/base.po
          sed -i '$a msgid "Compile_time"' feeds/luci/modules/luci-base/po/zh-cn/base.po
          sed -i '$a msgstr "固件编译时间"' feeds/luci/modules/luci-base/po/zh-cn/base.po
          sed -i '$a \       ' feeds/luci/modules/luci-base/po/zh-cn/base.po
          sed -i '$a #首页显示编译作者' feeds/luci/modules/luci-base/po/zh-cn/base.po
          sed -i '$a msgid "Compile_author"' feeds/luci/modules/luci-base/po/zh-cn/base.po
          sed -i '$a msgstr "固件编译作者"' feeds/luci/modules/luci-base/po/zh-cn/base.po
          sed -i '$a \       ' feeds/luci/modules/luci-base/po/zh-cn/base.po
          sed -i '$a #首页显示下载地址' feeds/luci/modules/luci-base/po/zh-cn/base.po
          sed -i '$a msgid "Frimware_dl"' feeds/luci/modules/luci-base/po/zh-cn/base.po
          sed -i '$a msgstr "下载更新地址"' feeds/luci/modules/luci-base/po/zh-cn/base.po
          sed -i '/Compile_time/d' package/lean/default-settings/files/zzz-default-settings
          sed -i '/Compile_author/d' package/lean/default-settings/files/zzz-default-settings
          sed -i '/Frimware_dl/d' package/lean/default-settings/files/zzz-default-settings
          sed -i '/exit/d' package/lean/default-settings/files/zzz-default-settings
          echo "echo \"`date "+%Y-%m-%d %H:%M"` (commit:`git log -1 --format=format:'%C(bold white)%h%C(reset)'`)\" >> /etc/Compile_time" >> package/lean/default-settings/files/zzz-default-settings
          echo "echo \"✿By 一路阳光&nbsp;&nbsp;✿QQ:939984606\" >> /etc/Compile_author" >> package/lean/default-settings/files/zzz-default-settings
          echo "echo \"点击此处下载&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;✿提取码：nbn9\" >> /etc/Frimware_dl" >> package/lean/default-settings/files/zzz-default-settings
          echo "exit 0" >> package/lean/default-settings/files/zzz-default-settings
          cat package/lean/default-settings/files/zzz-default-settings
         
      - name: Generate configuration file
        run: |
          rm -f ./.config
          # 下载自定义配置
          wget -O .config https://z.abcdl.cn/directlink/3/Share/OpenWrt/.config
          #mv lede .config
          #
          # 在 cat >> .config <<EOF 到 EOF 之间粘贴你的编译配置, 需注意缩进关系
          # 例如:
          #cat >> .config <<EOF
          #CONFIG_TARGET_IMAGES_GZIP=y
          #CONFIG_KERNEL_BUILD_USER="OpenWrt-CI"
          #CONFIG_KERNEL_BUILD_DOMAIN="Azure"
          #EOF
          #
          # ===============================================================
          # 
          #sed -i 's/^[ \t]*//g' ./.config
          make defconfig
      - name: Make download
        run: |
          make download -j8 || make download -j1 V=s
          rm -rf $(find ./dl/ -size -1024c)
          df -h
      - name: Compile firmware
        run: |
          make -j$(nproc) || make -j1 V=s
          echo "======================="
          echo "Space usage:"
          echo "======================="
          df -h
          echo "======================="
          du -h ./ --max-depth=1
          du -h /mnt/openwrt/ --max-depth=1 || true
      - name: Prepare artifact
        run: |
          mkdir -p ./artifact/firmware
          mkdir -p ./artifact/package
          mkdir -p ./artifact/buildinfo
          rm -rf $(find ./bin/targets/ -type d -name "packages")
          cp -rf $(find ./bin/targets/ -type f) ./artifact/firmware/
          cp -rf $(find ./bin/packages/ -type f -name "*.ipk") ./artifact/package/
          cp -rf $(find ./bin/targets/ -type f -name "*.buildinfo" -o -name "*.manifest") ./artifact/buildinfo/
          
      - name: Deliver buildinfo
        uses: actions/upload-artifact@v2
        with:
          name: OpenWrt_buildinfo
          path: ./artifact/buildinfo/

      - name: Deliver package
        uses: actions/upload-artifact@v2
        with:
          name: OpenWrt_package
          path: ./artifact/package/

      - name: Deliver firmware
        uses: actions/upload-artifact@v2
        with:
          name: OpenWrt_firmware
          path: ./bin/targets/

      - name: Upload release asset
        if: github.event == 'release'
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.YOURTOKEN }}
          file: ./artifact/firmware/*
          tag: ${{ github.ref }}
          file_glob: true
